<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        body {
            background-color: black;
            color: white;
        }

        .main {
            background-color: rgb(130, 119, 119);
            margin-top: 7rem;
            margin-left: 20%;
            height: 60vh;
            margin-right: 18rem;
            border-radius: 3rem;



        }

        #input_tag {
            padding: 1rem;
            border: none;
            width: 65%;
            margin-left: 5rem;
            border-radius: 3rem;
            margin-top: 3rem;
        }

        #btn {
            padding: 1rem;
            margin-left: 5rem;
            border-radius: 3rem;
            margin-top: 3rem;
            width: 70%;
            background-color: black;
            color: white;
        }

        #btn:hover {
            text-decoration: underline;
        }

        #valid {

            text-align: center;
            color: black;
            padding-top: 2rem;

        }
    </style>
    <div class="main">
        <div class="main_container">
            <form action="/forgot_password" method="post">
                <h1 id="valid"><i>Please Enter your email</i></h1>
                <input type="text" name='email' placeholder='please enter your email' id='input_tag'>
                <br>
                <button type="onsubmit" id='btn'>send</button>

            </form>
        </div>
    </div>
</body>

</html>