<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/slider.css">

    <title>Responsive Animated websites</title>
</head>

<body>
    <nav class="main_sharma">
        <div class="logo">
            <img src="/images/chandan2.jpg" alt="Logo Image">
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a href="/login">Home</a></li>
            <li><a href="#">Solutions</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Solutions</a></li>
            <li><a href="#">chandan</a></li>
           

            <a href="/login">
                <li><button class="login-button">Login</button></li>
            </a>

            <a href="/sign">
                <li><button class="join-button">Already have an account</button></li>
            </a>
        </ul>
    </nav>

    <!-- animated background with text and images -->
    <div class="chandan_classy">
        <div id="particles">
            <div class="overlay"></div>
            <div id="intro">
                <h1 class="margin-tp"> LETS CONNECT<br>WITH</h1>
                <p class="man_p">TECHNOLOGY WITH CHANDAN</p>
            </div>

        </div>
    </div>
    <div class="main-sectionn">
        <div class="main-concatt">
            <div class="container-chandan">
                <div class="row-pegination">
                    <div class="col-pegination">
                        <img src="/images/chandan2.jpg" class='chanan-image' alt="chandan sharma">
                    </div>
                    <div class="col">
                        <i>
                            <h1 class="name-peginationn">Personal Informations</h1>
                        </i>
                        <h3 class="name-pegination"><i>Name Chandan Sharma</i></h3>
                        <h3 class="name-pegination"><i>Contact : +9779845427041 </i></h3>
                        <h3 class="name-pegination"><i>Email : chandansharma575757@gmail.com</i></h3>
                        <hr class="hr">
                        <hr class="hr-tag">
                        <p class="para-pegination">I design and develop services for customer specializing
                            stylish
                            modern
                            websites,web services and online stores.My passion is to design digital user
                            experiences
                            through
                            meaningful interactions. Check out my portfolio.</p>
                        <hr class="hr-tag">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-section">
        <div class="main-concat">
            <div class="row_section">
                <div class="col_section">
                    <img src="/images/tech.jpg" class="images_ch" alt="technical">
                </div>
                <div class="col_section">
                    <p class="paragraph_con">
                        The demand for computer engineers is expected to continue to grow in the future, as
                        technology
                        continues to advance and become more integrated into our lives. According to the US
                        Bureau
                        of
                        Labor
                        Statistics, employment of computer engineers is projected to grow 5% from 2021 to 2031,
                        faster
                        than
                        the average for all occupations.
                        Computer engineers are in high demand in a variety of industries, including software
                        development, hardware design, and networking. They also play a vital role in research
                        and
                        development, helping to create new technologies and applications.</p>
                </div>
            </div>
        </div>
    </div>


    {{!-- developer sucess stories --}}

    <div class="success">
        <div class="story">
            <h1 class="developers">Developers Success Storys..</h1>
        </div>
    </div>




    <div class="main-section">
        <div class="main-concat">
            <div class="row_section">
                <div class="col_section">
                    <img src="/images/meta.jpg" class="images_ch" alt="technical">
                </div>
                <div class="col_section">
                    <div class="color">
                        <span class="span-tag">Success Stories</span>
                        <p class="paragraph_connected">
                            How developers and businesses around the world are innovating with Meta products,
                            tools,
                            and
                            programs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{!-- card --}}

    <div class="main_chandan-main">
        <div class="nain_artciles">
            <h1 class="meta_for">META FOR DEVELOPERS</h1>
            <h3 class="connect_with">Connect with customers and improve efficiency with our featured platforms.
            </h3>
            <section class="articles">
                <article>
                    <div class="article-wrapper">
                        <figure>
                            <img src="/images/facebook.png" alt="" />
                        </figure>
                        <div class="article-body">
                            <h2>This is some title</h2>
                            <p>
                                Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus
                                sit
                                amet,
                                congue
                                bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim
                                imperdiet
                                egestas.
                            </p>
                            <a href="#" class="read-more">
                                Read more <span class="sr-only">about this is some title</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20"
                                    fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                        clip-rule="evenodd" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
                <article>

                    <div class="article-wrapper">
                        <figure>
                            <img src="/images/massenger.jpg" alt="" />
                        </figure>
                        <div class="article-body">
                            <h2>This is some title</h2>
                            <p>
                                Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus
                                sit
                                amet,
                                congue
                                bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim
                                imperdiet
                                egestas.
                            </p>
                            <a href="#" class="read-more">
                                Read more <span class="sr-only">about this is some title</span>
                                <svg xmlns="/images/instagram.jpg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                        clip-rule="evenodd" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
                <article>

                    <div class="article-wrapper">
                        <figure>
                            <img src="/images/instagram.jpg" alt="" />
                        </figure>
                        <div class="article-body">
                            <h2>This is some title</h2>
                            <p>
                                Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus
                                sit
                                amet,
                                congue
                                bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim
                                imperdiet
                                egestas.
                            </p>
                            <a href="#" class="read-more">
                                Read more <span class="sr-only">about this is some title</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20"
                                    fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                        clip-rule="evenodd" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
            </section>
        </div>

    </div>
    <script src="/js/index.js"></script>
    <script src="/js/animated.js"></script>



    <script>
        // Dark & Light toggle



    </script>



</body>

</html>