<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Details</title>
</head>

<body>
  <h1>User Details</h1>

  <ul>

    <li>First Name: {{user.firstName}}</li>
    <li>Last Name: {{user.lastName}}</li>
    <li>Email: {{user.email}}</li>
  </ul>
</body>

</html>