/*
CSS Reset
https://meyerweb.com/eric/tools/css/reset/
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* particleground demo */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.chandan_classy {
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    margin-left: 4rem;
    margin-right: 4rem;
    border-radius: 4rem;
}

#particles {
    background: url('http://arnaudel.perso.neuf.fr/Payekhali/Fonds/1280/AS11-40-5873.jpg') top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#intro {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}


.margin-tp {
    text-transform: uppercase;
    font-size: 85px;
    font-weight: 700;
    margin-top: 4rem;
    letter-spacing: 0.015em;
}

.margin-tp::after {
    content: '';
    width: 80px;
    display: block;
    background: #fff;
    height: 10px;
    margin: 30px auto;
    line-height: 1.1;
}

.main_p {
    margin: 0 0 30px 0;
    font-size: 24px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fff;
    text-transform: uppercase;
    letter-spacing: 0.015em;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.btn:hover {
    color: #005544;
    border-color: #005544;
}

@media only screen and (max-width: 1000px) {
    .margin-tp {
        font-size: 70px;
    }
}

@media only screen and (max-width: 800px) {
    .margin-tp {
        font-size: 48px;
    }

    .margin-tp::after {
        height: 8px;
    }
}

@media only screen and (max-width: 568px) {
    #intro {
        padding: 0 10px;
    }

    .margin-tp {
        font-size: 30px;
    }

    .margin-tp::after {
        height: 6px;
    }

    p {
        font-size: 18px;
    }

    .btn {
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px) {
    .margin-tp {
        font-size: 28px;
    }

    .margin-tp::after {
        height: 4px;
    }
}