* {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

body {
    background-color: black; 
   
}

/* body {
    overflow-x: hidden;
} */

.main_sharma {
    height: 6rem;
    width: 100%;
    background: rgb(91, 85, 85);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
   

}

/*Styling logo*/
.logo {
    padding: 1vh 1vw;
    text-align: center;

}

.logo img {
    height: 5rem;
    width: 5rem;
    border-radius: 4rem;
}

/*Styling Links*/
.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    margin-right: 4rem;
}

.nav-links li a {
    text-decoration: none;
    margin: 0 0.7vw;
}

.nav-links li a:hover {
    color: #61DAFB;
}

.nav-links li {
    position: relative;
}

.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;

    background-color: #ffffff;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}

.nav-links li a:hover::before {
    width: 80%;
}

/*Styling Buttons*/
.login-button {
    background-color: white;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}

.login-button:hover {
    color: #131418;
    background-color: #0b8fe7;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

.join-button {
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}

.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div {
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        z-index: 3;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }

    .nav-links {
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }

    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    li.fade {
        opacity: 1;
    }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}








/* animated background with text and hover effect */
/* Header */
.container-chandan {
    background-color: #272424;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 4rem;
    border-radius: 4rem;
}


.chanan-image {
    width: 100%;
    height: 75vh;
    margin-top: 3rem;
    margin-left: -3rem;
    border-radius: 4rem;
}

.row-pegination {
    display: flex;
}

.col-pegination {
    margin-left: 8rem;
}

/* //peronal information */

.name-peginationn {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    margin-left: 6rem;
    margin-top: 5rem;
    text-decoration: underline;
    font-style: italic;
}

.name-pegination {
    color: white;
    font-size: 2rem;
    margin-left: 6rem;
    margin-top: 2rem;
    font-style: italic;
}

.hr {
    background-color: #fff;
    rotate: 90deg;
    margin-right: 50rem;



}

.hr-tag {
    background-color: white;
    margin-left: 5rem;
    margin-right: 5rem;
}

.para-pegination {
    color: white;
    font-style: italic;
    font-size: 2rem;
    margin-left: 6rem;
    margin-top: 4rem;
    margin-right: 3rem;
}


/* //technoloy part  */
.paragraph_con {
    color: white;
    font-size: 2rem;
    margin-left: 4rem;
    margin-top: 5rem;
}

.row_section {
    display: flex;
}

.main-section {
    background-color: black;
    padding-top: 4rem;

}

.images_ch {
    width: 40vw;
    height: 60vh;
    margin-left: 4rem;
    margin-top: 5rem;
    border-radius: 4rem;
    ;
}

.main-concat {
    background-color: #272424;
    margin-top: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    border-radius: 4rem;
    height: 80vh;
}


/* //developes succes story */

.success {
    background-color: black;
    padding-top: 5rem;
}

.story {
    background-color: #272424;
    margin-top: 0rem;
    margin-left: 4rem;
    margin-right: 4rem;
    height: 30vh;
    border-radius: 4rem;
}

.developers {
    color: white;
    font-size: 6rem;
    font-style: italic;
    padding-top: 5rem;
    font-weight: bold;
    margin-left: 5rem;
}

.paragraph_connected {
    color: rgb(0, 0, 0);
    margin-top: 10rem;
    font-size: 2rem;
    margin-left: 5rem;

}

.color {
    background-color: white;
    border-radius: 4rem;
    margin-top: 5rem;
    height: 60vh;
    margin-left: 3rem;
    margin-right: 2rem;
}

.span-tag {
    font-size: 4rem;
    margin-left: 4rem;
    margin-top: 6rem;
}





/* send us masssage box and style sheet  */




@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.man_body1 {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background: #4CAF50;
    border-radius: 12px;
}

.hero_container {
    max-width: 88rem;
   
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    border-radius: 25px;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}